<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %} 
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <form action="/create" method="post">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Description:</label>
    <input type="text" name="description">
    <label>Instructions</label>
    <input type="text" name="instructions">
    <label>Date Made On:</label>
    <input type="date" name="created_at">
    <p>Under 30 Minutes?</p>
    <input type="radio" name="under_thirty" id="yes" value="Yes">
    <label for="yes">Yes</label>
    <input type="radio" name="under_thirty" id="no" value="No">
    <label for="no">No</label>
    <button type="submit">Create</button>
    </form>
</body>
</html>